@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');


:root {
  --font-family-text:'Kalam', cursive;
  --line-height: 1.5;
  --font-weight: 400;
  --color-text: rgba(255, 255, 255, 0.87);
  --background-color-main: #242424;
  --background-color-calculator : black;
}


body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-text);
}

#container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--background-color-main);
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 94%;
  max-width: 450px;
  height: 560px;
  background: var(--background-color-calculator);
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  padding: 8px 0px;
  border: 4px double white;
}

.result {
  width: 93%;
  margin: 0 auto;
  margin-top: 5px;
  color: var(--color-text);
  background: var(--background-color-calculator);
  margin-bottom: 10px;
  padding: 35px 5px 30px 20px;
  outline: none;
  border: none;
  border-radius: 50%;
  font-size: 50px;
}

.container_buttons {
  display: flex;
  justify-content: center;
}


.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0px 1%;
}


input[type="button"] {
  width: 98%;
  height: 83px;
  border-radius: 50%;
  margin: 7% 0;
  font-weight: bold;
  cursor: pointer;
}

.num {
  background: var(--background-color-main);
  font-size: 25px;
  color: white;
  transition: background .3s;
}

.num:hover {
  background: #1d1d1d;
}

.operators {
  background: orange;
  color: white;
  font-size: 32px;
  transition: background .3s;
}

.operators:hover {
  background: rgb(223, 145, 0);
}

.reset {
  background-color: white;
  color: black;
  font-size: 26px;
  transition:all .3s;
}

.reset:hover {
  background: rgb(213, 212, 212);
}

.calc {
  background-color: white;
  color: black;
  font-size: 30px;
  transition: background .3s;
}

.calc:hover {
  background: rgb(213, 212, 212);
}


@media screen and (min-width:500px) and (max-width:850px) {
  #calculator {
    height: 550px;
  }

  input[type="button"] {
    width: 85px;
    height: 85px;
  }
}

@media screen and (min-width:850px) {
  #calculator {
    height: 600px;
  }

  input[type="button"] {
    width: 95px;
    height: 95px;
  }
}
